@import url('https://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 80%;
}

body {
	margin:0em;
	padding:0em;
  background-image:url("http://i.imgur.com/zTGfV6s.jpg");
  background-color: #043248;
  background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	font-size:100%;
}

.container-table {
    display: table;

    margin: auto;
}

.vertical-center-row {
    display: table-cell;

    margin: auto;

    vertical-align: middle;
}

.btn-xl {
    width: 200px;
    margin: 0px 0px;
    margin-bottom: 5px;
    padding: 46px 56px;

    transition: all 0.3s ease 0s;

    color: rgba(255, 255, 255, 0.53);
    border-color: #245682;
    border-radius: 8px;
    background-color: rgba(40, 102, 154, 0.65);

    font-size: 22px;
}

time {
  display: block;

  margin-bottom: 20px;

  letter-spacing: 6px;

  color: rgba(255, 255, 255, 0.5);

  font-size: 5rem;
}

input,
input:focus {
  margin: 0;

  border: 0;
  outline: 0;

  font-size: 2rem;

  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;

  transition: 0.5s;

  color: #fff;
  border-radius: 5px;
  background-color: #222;

  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

aside {
  position: fixed;
  z-index: 1;
  left: 0;

  overflow: auto;

  box-sizing: border-box;
  width: 100%;
  max-width: 190px;
  height: 100%;
  padding: 15px 0 0;

  transition: transform 700ms;
  transform: translateX(-205px);

  background-color: rgba(255, 255, 255, 0.47);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  font-family: 'Lato', sans-serif;
}

aside[data-toggled='true'] {
  transform: translateX(0);
}

h1 {
  margin: 0 25px 15px;

  line-height: 1rem;
}

ul {
  margin: 0 0 15px;
  padding: 0;
}

li {
  list-style: none;

  font-size: 16px;
  font-weight: 300;
}

a {
  display: block;

  padding: 0 25px;

  text-decoration: none;

  color: #222;

  line-height: 2.7rem;
}

a:hover .help-name {
  text-decoration: underline;
}

.help-key {
  font-family: 'Courier New', monospace;
  font-weight: 300;
}

.help-name {
  font-size: 1.5rem;
  font-weight: 300;
}
